
body{

  background-color: #c00000;
  background-image:url(images/bg.png);
}
.login-body{
  text-align: center;
  padding-top: 10%;
}
.branding{
  color:#fff;
}
.branding img{
  width: 147px;
}
.login-form{
  display:inline-block;
  width: 300px;
}
.input-field{
  width: 200px;
  border: none;
  padding-left: 10px;
  padding: 15px;
  margin-bottom: 30px;
}
.submit{
  width: 200px;
  border: none;
  padding: 15px;
  background-color: #fff;
  color: #c00000;
  font-family: "HelveticaNeue Extended", Helvetica;
  margin: 15px;
}
.submit:hover{
  border: none;
  background-color: #252525;
  color: #fff;

  box-shadow: 0 0 10px rgba(37,37,37,0.3);
}
.input-field:focus {
    outline: none !important;
    border:1px solid #252525  ;
    box-shadow: 0 0 10px rgba(37,37,37,0.3);
}
