.car-container{
  margin-top: 50px;
  display: table;
  width: 100%;
  padding-top: 2%;
}


.car-container .headline{
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 24px;
  font-weight: 400;
  color: #c00000;
}

.car-container img{
  width: 60%;
  padding-top: 0;
  vertical-align: middle;
  display: table-cell;
  text-align: center;
  margin: 0 auto;
}


@media(max-width: 767px){
  .main{
    margin-top: 150px;
  }
  .button-wrapper{
    display:flex;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 30px;
  }
  .car-container img{
    margin-bottom: 20px;
  }
  .travel-data-table{
    display: inline-table;
    padding: 0;
    margin-right: 10px;
    margin-left: 10px;
    width:80%;
  }
}

#prius{
  width: 40%;
  margin: 0 auto;
}
#prius img{
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
.main-container{
  margin-top: 50px;
}
.maintenance{
  margin-bottom: 30px;
}
.button-wrapper a{
  margin: 0 auto;
  padding-top: 30px;
}
.button-wrapper{
  padding-bottom: 30px;
}
